@import "tailwindcss";

@theme inline {
    --font-sans: var(--font-open-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: #000;
    color: #fff;
    font-family: var(--font-sans), Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100dvw;
}
